:required, .required {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 2px 2px 2px 2px rgba(255, 241, 241, 0.212);
  outline: 1px solid rgb(243, 157, 157);
}

td {
  vertical-align: middle !important;
}

tbody tr:hover {
  backdrop-filter: invert(10%);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.assemble{
  display: flex;
  gap: 2%;
}

.container {
  max-width: 98%;
}

.sequence-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 50px;
        }

        .step {
            flex: 1;
            margin: 0 10px;
            background-color: #f0f0f0;
            border: 2px solid #ccc;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2em;
            text-align: center;
            height: 150px;
        }

        .arrow-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
        }

        .arrow {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid #000;
        }

        @media (max-width: 768px) {
            .sequence-container {
                flex-direction: column;
            }

            .arrow-container {
                transform: rotate(90deg);
                margin: 20px 0;
            }

            .arrow {
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 15px solid transparent;
                border-right: 15px solid #000;
            }
        }
